<md-content style="margin-top: -15px;">
	<div layout="horizontal">
		<md-card layout="vertical">
			<md-subheader>Process</md-subheader>
			<md-button ng-repeat="(pid, proc) in procData.process"
				ng-click="selectProc(proc)"
				ng-class="{'md-raised': curProc === proc, 'md-primary': curJson === proc}"
				aria-label="proc-{{pid}}">{{pid}}</md-button>
		</md-card>
		<md-card layout="vertical">
			<md-subheader>Socket</md-subheader>
			<md-button ng-repeat="sock in curProc.socket"
				ng-click="selectSock(sock)"
				ng-class="{'md-raised': curSock === sock, 'md-primary': curJson === sock}"
				aria-label="docket-{{sock.inode}}">{{sock.inode}}</md-button>
		</md-card>
		<md-card flex class="md-padding" style="white-space: pre;">{{jsonData}}</md-card>
	</div>
</md-content>
