<!doctype html>
<html lang="zh-TW" ng-app="sysd">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Sysd embedded Web UI</title>
		<link rel="shortcut icon" type="image/png" href="favicon.png">
		<!-- build:css index/main.min.css -->
		<link rel="stylesheet" href="lib/angular-material/angular-material.css">
		<link rel="stylesheet" href="index/index.css">
		<!-- endbuild -->
		<!-- build:js index/main.min.js -->
		<script src="lib/jquery/dist/jquery.js"></script>
		<script src="lib/hammerjs/hammer.js"></script>
		<script src="lib/angular/angular.js"></script>
		<script src="lib/angular-animate/angular-animate.js"></script>
		<script src="lib/angular-aria/angular-aria.js"></script>
		<script src="lib/angular-material/angular-material.js"></script>
		<script src="lib/angular-local-storage/dist/angular-local-storage.js"></script>
		<script src="lib/angular-translate/angular-translate.js"></script>
		<script src="config/app.js"></script>
		<script src="config/locale.js"></script>
		<script src="directives/langSelect.js"></script>
		<script src="services/Loading.js"></script>
		<script src="services/sysd.js"></script>
		<script src="index/index.js"></script>
		<!--
		<script src="index/angular-template.tmp.js"></script>
		-->
		<!-- endbuild -->
	</head>
	<body ng-controller="IndexCtrl" layout="horizontal" layout-align="space-around" layout-padding>
		<div layout="vertical" class="md-whiteframe-z1">
			<md-button href="." aria-label="logo" style="margin-bottom: 10px;">
				<div layout="horizontal" layout-align="space-around">
					<img src="favicon.png" style="margin-right: 10px;" />
					<div layout="vertical" layout-align="space-around">
						<span>Sysd</span>
					</div>
				</div>
			</md-button>
			<md-content>
				<div style="margin-left: 20px; margin-right: 25px;">
				<div>
				<md-button ng-click="showLangBottomSheet($event)" aria-label="language" style="margin-bottom: 20px;">Language</md-button>
				</div>
				</div>
			</md-content>
			<div ng-show="Loading.isLoading('regapis')" layout="horizontal" layout-align="center">
				<md-progress-circular mode="indeterminate"></md-progress-circular>
			</div>
			<md-content flex>
				<div style="margin-left: 20px; margin-right: 25px;">
					<div ng-repeat="apiname in sysd.apis">
						<md-button ng-click="api(apiname)" aria-label="{{apiname}}" style="min-width: 100%;">{{apiname}}</md-button>
					</div>
				</div>
			</md-content>
		</div>
		<div flex>
			<div ng-show="Loading.isLoading('api')" layout="vertical" layout-align="space-around" flex>
				<div layout="horizontal" layout-align="space-around">
					<md-progress-circular mode="indeterminate"></md-progress-circular>
				</div>
			</div>
			<div ng-show="!Loading.isLoading('api')" layout="vertical" flex>
				<div ng-show="apiResData">
					<div layout="horizontal">
						<span>{{apiReq.method}}</span>
						<span>{{apiReq.path}}</span>
					</div>
					<md-content flex class="md-padding" style="white-space: pre;">{{apiResData}}</md-content>
				</div>
				<div ng-show="!apiResData">
					<div translate>After configure sysd host and port, click left menu to get response from Sysd server</div>
					<md-text-float label="Sysd Host" ng-model="config.host"></md-text-float>
					<md-text-float label="Sysd Port" ng-model="config.port"></md-text-float>
					<div layout="horizontal" layout-padding>
						<md-button ng-click="saveConfig()" aria-label="Save Config" class="md-raised md-primary" style="padding: 0.3em 0.5em;" translate>Save</md-button>
						<md-button ng-click="resetConfig()" aria-label="Reset Config" class="md-raised" style="padding: 0.3em 0.5em; margin-left: 1em;" translate>Reset</md-button>
					</div>
				</div>
			</div>
		</div>
		<div ng-show="!!loading" style="position: fixed; top: 0px; bottom: 0px; left: 0px; right: 0px; background-color: white;">
			<div layout="vertical" layout-align="center" style="height: 100%;">
				<div layout="horizontal" layout-align="center">
					<div layout="vertical" layout-align="space-around" class="shaker">
						<img class="shaker" src="favicon.png" style="max-width: 100%; max-height: 100%; object-fit: contain; display: inline-block;"/>
						<div style="text-align: center; margin-top: 0.5em;">Sysd</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
